body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4ff;
}
h1{
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}
.produk-card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.produk-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}
.produk-card button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}